<div class="custom-link panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">
            自定义链接
            <a data-act="add" class="glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target=".custom-link-addedit">
            </a>
        </h3>
    </div>
    <div class="panel-body"></div>
    {% include custom-link/addedit.htm %}
</div>
<script>
    $(function() {
        var key = 'custom-link';
        var container = $('.' + key);
        var bodyEl = container.find('.panel-body');
        var btnSaveEl = container.find('.btn-save');
        var addeditEl = container.find('.custom-link-addedit');
        var addeditNameEl = container.find('input[name=name]');
        var addeditUrlEl = container.find('input[name=url]');
        var itemTpl = [
            '<li>',
            '<a href="{url}" target="_blank">{name}</a>',
            '<div class="pull-right">',
            '<a data-act="up" class="glyphicon glyphicon-arrow-up"></a>&nbsp;',
            '<a data-act="edit" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target=".custom-link-addedit"></a>&nbsp;',
            '<a data-act="del" class="glyphicon glyphicon-trash"></a>',
            '</div>',
            '</li>'
        ].join('');
        var render = function(data) {
            if (!$.isArray(data)) return;

            bodyEl.html(data.map(function(item) {
                return itemTpl.replace(/\{url\}/g, item.url).replace(/\{name\}/g, item.name);
            }));
        };
        var getCacheData = function() {
            var data = localStorage[key + '_links'];

            if (data) {
                try {
                    data = JSON.parse(data);
                    data = data.items;
                } catch (ex) {}
            }

            return data || [];
        };
        var setCacheData = function(data) {
            if ($.isArray(data)) {
                localStorage[key + '_links'] = JSON.stringify({
                    items: data
                });
            }
        };

        render(getCacheData());

        btnSaveEl.click(function(ev) {
            var index = addeditEl.data('index');
            var name = addeditNameEl.val().trim();
            var url = addeditUrlEl.val().trim();
            var data = getCacheData();
            var item = data[index];

            if (!name || !url) {
                ev.stopPropagation();
                return alert('输入链接名称和地址');
            }

            if (item) {
                data[index].name = name;
                data[index].url = url;
            } else {
                data.push({
                    name: name,
                    url: url
                });
            }
            render(data);
            setCacheData(data);
            addeditNameEl.val('');
            addeditUrlEl.val('');
            addeditEl.data('index', '');
        });

        // addeditUrlEl.change(function() {
        //     var url = this.value;
        //     var name = addeditNameEl.val().trim();

        //     if (!name && url) {
        //         addeditNameEl.val(url.split('/')[2] || '');
        //     }
        // });

        bodyEl.on('click', '[data-act]', function(ev) {
            var it = $(this);
            var act = it.data('act');
            var index = it.parent().parent().index();
            var data = getCacheData();
            var item = data[index];
            var titleEl = container.find('.modal-title');

            switch (act) {
                case 'add':
                    titleEl.text('增加');
                    addeditEl.data('index', '');
                    break;
                case 'edit':
                    titleEl.text('编辑');
                    addeditNameEl.val(item.name);
                    addeditUrlEl.val(item.url);
                    addeditEl.data('index', index);
                    break;
                case 'del':
                    data.splice(index, 1);
                    render(data);
                    setCacheData(data);
                    addeditEl.data('index', '');
                    break;
                case 'up':
                    data[index - 1] = data.splice(index, 1, data[index - 1])[0];
                    render(data);
                    setCacheData(data);
                    break;
            }
        });
    });
</script>