--- 
layout: default 
title: WinTillage 
---

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">定价器</h3>
            </div>
            <div class="panel-body">
                {% include money-exchange.html %}
            </div>
        </div>
        <!-- <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div> -->
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">常用</h3>
            </div>
            <div class="panel-body">
                <li>
                    <a href="https://docs.qq.com/sheet/BmAfQN2sop2v1PD3Vf3ahkL33GDWKK3baohy05BGA62tyoU03Cpduu0IAjCH0EBPWM0noU5K3?opendocxfrom=admin"
                        target="_blank">【文档】商品型号</a>
                </li>
                <li><a href="http://merchant.fy.intmall.net/login" target="_blank">【登录】丰卖网</a></li>
                <li><a href="https://pan.baidu.com/" target="_blank">【工具】百度网盘</a></li>
                <li><a href="http://fanyi.baidu.com/#zh/en/" target="_blank">【工具】百度翻译</a></li>
            </div>
        </div>
        <!-- <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div> -->
    </div>
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <!-- <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div> -->
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">百度翻译</h3>
            </div>
            <div class="panel-body">
                {% include iframe-pannel.html src="http://fanyi.baidu.com/#zh/en/" %}
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">内容编辑器</h3>
            </div>
            <div class="panel-body">
                 {% include editor.html %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">图片采集器</h3>
            </div>
            <div class="panel-body">
                 {% include image-collector.html %}
            </div>
        </div>
    </div>
</div>
<script></script>