--- 
layout: default 
title: WinTillage 
---

<script>
    trackEvent('index-page', 'load');
</script>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">利润计算器</h3>
            </div>
            <div class="panel-body">
                {% include profit-calculator.html %}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">常用</h3>
            </div>
            <div class="panel-body">
                <li><a href="https://sellercenter.aliexpress.com/seller/index.htm" target="_blank">【速卖通】管理</a></li>
                <li><a href="http://merchant.fy.intmall.net/main/panel" target="_blank">【丰卖网】管理</a></li>
                <li><a href="https://docs.qq.com/sheet/BmAfQN2sop2v1PD3Vf3ahkL33GDWKK3baohy05BGA62tyoU03Cpduu0IAjCH0EBPWM0noU5K3?opendocxfrom=admin" target="_blank">【文档】WT商品</a></li>
                <li><a href="https://docs.qq.com/sheet/DWGJYcmFac2VUYkdx?opendocxfrom=admin&tab=BB08J2" target="_blank">【文档】WT物流</a></li>
                <!-- <li><a href="https://docs.qq.com/sheet/DWHdrQ21IVUNhcXdE?opendocxfrom=admin&tab=BB08J2" target="_blank">【文档】WT好评模版</a></li> -->
                <li><a href="https://translate.google.cn/" target="_blank">【工具】谷歌翻译</a></li>
                <li><a href="http://fanyi.baidu.com/#zh/en/" target="_blank">【工具】百度翻译</a></li>
                <li><a href="http://fanyi.youdao.com/" target="_blank">【工具】有道翻译</a></li>
                <li><a href="https://pan.baidu.com/" target="_blank">【工具】百度网盘</a></li>
                <!-- <li><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&tn=baidu&wd=%E8%B4%A7%E5%B8%81%E5%85%91%E6%8D%A2&oq=%25E4%25BA%25BA%25E6%25B0%2591%25E5%25B8%2581&rsv_pq=e62c09b700019ebf&rsv_t=16b4P2pXScTMtUinz0vf29JXFl5zfU0jtV7UqzEbdyejh%2BmNo%2Fy%2F8mKZrFE&rqlang=cn&rsv_enter=1&rsv_sug3=2&rsv_sug1=2&rsv_sug7=100&rsv_sug2=0&inputT=1565&rsv_sug4=1565" target="_blank">【工具】货币兑换</a></li> -->
                <li><a href="https://www.mangoerp.com/login" target="_blank">【工具】芒果店长</a></li>
                <li><a href="https://kj.1688.com/pdt_tongkuan.html" target="_blank">【工具】找货源</a></li>
                <li><a href="http://k5.takesend.com:8180/c_index.jsp" target="_blank">【链接】泰嘉物流(货代)</a></li>
                <li><a href="https://sale.aliexpress.com/zh/__pc/seller/shipping_methods_list.htm?spm=5261.8115697.2341.1.cc64489b5l3Xvq" target="_blank">【链接】物流方案列表</a></li>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">世界时间</h3>
            </div>
            <div class="panel-body">
                <li><a href="https://time.51240.com/Phoenix__localtime/" target="_blank">美国</a></li>
                <li><a href="https://time.51240.com/Arkhangelsk__localtime/" target="_blank">俄罗斯</a></li>
                <li><a href="https://time.51240.com/" target="_blank">搜索更多</a></li>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        {% include custom-link/index.html %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">百度翻译</h3>
            </div>
            <div class="panel-body">
                {% include iframe-pannel.html src="http://fanyi.baidu.com/#zh/en/" %}
            </div>
        </div>
    </div>
</div> -->