--- 
layout: default 
title: WinTillage 
---

<script>
    trackEvent('index-page', 'load');
</script>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">定价器</h3>
            </div>
            <div class="panel-body">
                {% include money-exchange.html %}
            </div>
        </div>
        <!-- <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div> -->
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">常用</h3>
            </div>
            <div class="panel-body">
                <li><a href="https://sellercenter.aliexpress.com/seller/index.htm" target="_blank">【速卖通】管理</a></li>
                <!-- <li><a href="https://www.aliexpress.com/category/200010206/smart-watches.html?spm=2114.search0103.0.0.5eba3e706EzqQ2&isrefine=y&site=glo&g=y&tag=" target="_blank">【速卖通】智能手表</a></li>
                <li><a href="https://www.aliexpress.com/category/63705/earphones-headphones.html?spm=2114.search0103.1.19.960526c3aee6Mk&site=glo" target="_blank">【速卖通】耳机</a></li> -->
                <li><a href="http://merchant.fy.intmall.net/main/panel" target="_blank">【丰卖网】管理</a></li>
                <!-- <li><a href="http://en.intmall.com/category/41.html" target="_blank">【丰卖网】耳机</a></li>
                <li><a href="http://en.intmall.com/category/708.html" target="_blank">【丰卖网】智能手表</a></li> -->
                <!-- <li><a href="https://www.amazon.com/s/ref=nb_sb_ss_ime_c_2_11?url=search-alias%3Delectronics&field-keywords=smart+watch&sprefix=smart+watch%2Caps%2C111&crid=2TR46ERJH0UHF" target="_blank">【亚马逊】智能手表</a></li>
                <li><a href="https://www.amazon.com/Headphones-Accessories-Supplies/b/ref=nav_shopall_headphones?ie=UTF8&node=172541" target="_blank">【亚马逊】耳机</a></li> -->
                <li><a href="https://docs.qq.com/sheet/BmAfQN2sop2v1PD3Vf3ahkL33GDWKK3baohy05BGA62tyoU03Cpduu0IAjCH0EBPWM0noU5K3?opendocxfrom=admin" target="_blank">【文档】商品型号</a></li>
                <li><a href="https://pan.baidu.com/" target="_blank">【工具】百度网盘</a></li>
                <li><a href="http://fanyi.baidu.com/#zh/en/" target="_blank">【工具】百度翻译</a></li>
                <li><a href="http://fanyi.youdao.com/" target="_blank">【工具】有道翻译</a></li>
                <li><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&tn=baidu&wd=%E8%B4%A7%E5%B8%81%E5%85%91%E6%8D%A2&oq=%25E4%25BA%25BA%25E6%25B0%2591%25E5%25B8%2581&rsv_pq=e62c09b700019ebf&rsv_t=16b4P2pXScTMtUinz0vf29JXFl5zfU0jtV7UqzEbdyejh%2BmNo%2Fy%2F8mKZrFE&rqlang=cn&rsv_enter=1&rsv_sug3=2&rsv_sug1=2&rsv_sug7=100&rsv_sug2=0&inputT=1565&rsv_sug4=1565" target="_blank">【工具】货币兑换</a></li>
            </div>
        </div>
        <!-- <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div> -->
    </div>
    <div class="col-sm-4">
        {% include custom-link/index.html %}
        <!-- <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">待开发</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div> -->
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">百度翻译</h3>
            </div>
            <div class="panel-body">
                {% include iframe-pannel.html src="http://fanyi.baidu.com/#zh/en/" %}
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">内容编辑器</h3>
            </div>
            <div class="panel-body">
                {% include editor/index.html %}
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">图片采集器</h3>
            </div>
            <div class="panel-body">
                 {% include image-collector.html %}
            </div>
        </div>
    </div>
</div> -->