<div class="editor">
    <div>
        <a class="btn btn-clear btn-default btn-sm" ba-event="editor,clear">清空</a>
        <a class="btn btn-only-img btn-primary btn-sm">只留图片</a>
        <a class="btn btn-img-preview btn-primary btn-sm" ba-event="editor,img-preview">图片预览</a>
        &nbsp;&nbsp;
        <span class="text-muted">复制内容：点击编辑器Command + C</span>
    </div><br>
    <textarea></textarea>
</div>
<script>
    $(function() {
        var key = 'editor';
        var container = $('.' + key);
        var textareaEl = container.find('>textarea');
        var btnClearEl = container.find('.btn-clear');
        var btnImgPreviewEl = container.find('.btn-img-preview');
        var btnOnlyImgEl = container.find('.btn-only-img');
        var config = {
            htmlRemoveTags: ['script', 'style', 'base', 'iframe'],
            htmlDoNotWrapTags: ['script', 'style'],
            htmlExecuteScripts: false
        };
        var viewer;
        var isTrackEvent;
        var getCacheData = function() {
            return localStorage[key + '_content'] || '';
        };
        var setCacheData = function(val) {
            localStorage[key + '_content'] = val || '';
        };
        var initViewew = function() {
            try {
                if (!viewer) {
                    viewer = new Viewer(container.find('.fr-view')[0]);
                    container.find('.fr-view').on('hidden', function() {
                        viewer.destroy();
                    });
                    viewer.show();
                } else {
                    viewer.update();
                    viewer.show();
                }
            } catch (ex) {}
        };
        var initEditor = function() {
            var cacheData = getCacheData();

            textareaEl.froalaEditor('destroy');
            textareaEl.val('');
            textareaEl.on('froalaEditor.contentChanged', function(ev, editor) {
                var html = editor.html.get();
                setCacheData(html);
                // }).on('froalaEditor.image.loaded', function(ev, editor) {
                //     initViewew();
                if (!isTrackEvent) {
                    var imgSrcs = [];
                    $(html).find('img').each(function(idx) {
                        (idx < 3) && this.src && imgSrcs.push(this.src);
                    });
                    trackEvent('editor', 'content-change', '内容', imgSrcs.join(''));
                    isTrackEvent++;
                }
            });
            textareaEl.froalaEditor({
                htmlRemoveTags: ['script', 'style', 'base'],
                htmlExecuteScripts: false
            });
            cacheData && textareaEl.froalaEditor('html.insert', cacheData, true);
        };

        initEditor();

        btnClearEl.click(function() {
            setCacheData('');
            initEditor();
        });

        btnImgPreviewEl.click(function() {
            initViewew();
        });

        btnOnlyImgEl.click(function() {
            var html = textareaEl.froalaEditor('html.get');
            var insertHtml = [];

            if (!html) return;

            $(html).find('img').each(function() {
                insertHtml.push(this.outerHTML);
            });
            insertHtml = insertHtml.join('');

            setCacheData(insertHtml);
            initEditor();
        });
    });
</script>