<div class="editor">
    <div>
        <a class="btn btn-clear btn-default btn-sm">清空</a>
        <a class="btn btn-only-img btn-primary btn-sm">只要图片</a>&nbsp;&nbsp;
        <span class="text-muted">复制内容：点击编辑器Command + C</span>
    </div><br>
    <textarea></textarea>
</div>
<script>
    $(function() {
        var key = 'editor';
        var container = $('.' + key);
        var textareaEl = container.find('>textarea');
        var btnClearEl = container.find('.btn-clear');
        var btnOnlyImgEl = container.find('.btn-only-img');
        var getCacheData = function() {
            return localStorage[key + '_content'] || '';
        };
        var setCacheData = function(val) {
            localStorage[key + '_content'] = val || '';
        };
        var initEditor = function() {
            var cacheData = getCacheData();

            textareaEl.froalaEditor('destroy');
            textareaEl.val('');
            textareaEl.on('froalaEditor.contentChanged', function(ev, editor) {
                setCacheData(editor.html.get());
            }).on('froalaEditor.image.loaded', function(ev, editor) {
                try {
                    if (!viewer) {
                        viewer = new Viewer(container.find('.fr-view')[0]);
                    } else {
                        viewer.update();
                    }
                } catch (ex) {}
            });
            textareaEl.froalaEditor({
                htmlRemoveTags: ['script', 'style', 'base'],
                htmlExecuteScripts: false
            });
            cacheData && textareaEl.froalaEditor('html.insert', cacheData, true);
        };
        var cacheData = getCacheData();
        var config = {
            htmlRemoveTags: ['script', 'style', 'base', 'iframe'],
            htmlDoNotWrapTags: ['script', 'style'],
            htmlExecuteScripts: false
        };
        var viewer;

        initEditor();

        btnClearEl.click(function() {
            setCacheData('');
            initEditor();
        });

        btnOnlyImgEl.click(function() {
            var html = textareaEl.froalaEditor('html.get');
            var insertHtml = [];

            if (!html) return;

            $(html).find('img').each(function() {
                insertHtml.push(this.outerHTML);
            });
            insertHtml = insertHtml.join('');

            setCacheData(insertHtml);
            initEditor();
            viewer && viewer.update();
        });
    });
</script>