<!-- 定价器 -->
<div class="price-calculator calculator">
    进价 ¥<input class="me-bid" type="number" />
    <span>+</span> 销售利润率 <input class="me-profit-per" type="number" value="30" />%
    <span>+</span> 平台费率 <input class="me-brokerage-per" type="number" value="5" />%
    <span>=</span> 售价¥ <span class="me-price"></span>
    <span class="equivalent">
        | $<input class="me-txt-usd-price" type="number" />
        <a class="btn btn-primary btn-sm btn-change-price" ba-event="price-calculator,usd-price-change">修改</a>
    </span><br> 销售净利润¥ <span class="me-pure-profit"></span>
    <span class="equivalent">
        | <span class="me-pure-profit-per"></span>%
    </span><br><br><br>
    <div class="text-muted">
        <li>出售运费：由平台运费模版计算</li>
        <li>平台费用：由于无法计算 "出售运费"，因此计算偏低</li>
        <li>货币规则：1美元=6.9197人民币，1人民币=0.1445美元</li>
    </div>
</div>
<script>
    //销售利润=售价-成本
    //销售利润率=销售利润/售价|(售价-成本)/售价
    //销售净利润=销售利润-平台费
    //销售净利润率=(销售净利润/售价)*100
    //售价=成本+平台佣金+销售利润+其它
    //x售价=成本*(1+利润率)/(1-折扣率)*(1+佣金率)
    $(function() {
        var key = 'price-calculator';
        var usd2cny = 6.9197;
        var cny2usd = 0.1445;
        var container = $('.' + key);
        var bidEl = container.find('.me-bid');
        var priceEl = container.find('.me-price');
        // var profitEl = container.find('.me-profit');
        var profitPerEl = container.find('.me-profit-per');
        var brokeragePerEl = container.find('.me-brokerage-per');
        var pureProfitEl = container.find('.me-pure-profit');
        var pureProfitPerEl = container.find('.me-pure-profit-per');
        var txtUsdPriceEl = container.find('.me-txt-usd-price');
        var btnChangePriceEl = container.find('.btn-change-price');
        var numberEls = container.find('[type="number"]');
        var moneyExchange = function(fieldName) {
            var usdPrice = parseFloat(txtUsdPriceEl.val()) || 0; //售价(美元)
            var bid = parseFloat(bidEl.val()) || 0; //进价
            var cost = bid; //成本
            var price; //售价
            var profit; //销售利润
            var profitPer = parseFloat(profitPerEl.val()) || 0; //销售利润率
            var pureProfit; //销售净利润
            var pureProfitPer; //销售净利润率
            var brokerage; //平台费，因为不知道出售运费，因此预估偏低
            var brokeragePer = (parseFloat(brokeragePerEl.val()) || 0) / 100; //平台费率

            //通过售价(美元)反推计算
            if (fieldName === '$price' && usdPrice) {
                price = usdPrice * usd2cny;
                brokerage = price * brokeragePer; //约有误差
                profitPer = (price - cost - brokerage) / cost;
                profit = cost * profitPer / 100;
                profitPerEl.val((profitPer * 100).toFixed(2));
            } else {
                profit = cost * profitPer / 100;
                brokerage = (cost + profit) * brokeragePer;
                price = cost + profit + brokerage;
            }

            pureProfit = price - cost - brokerage;
            if (pureProfit) {
                pureProfitPer = (pureProfit / price) * 100;
            } else {
                pureProfitPer = 0;
            }

            priceEl.text(price.toFixed(2));
            // profitEl.text(profit.toFixed(2));
            pureProfitEl.text(pureProfit.toFixed(2));
            pureProfitPerEl.text(pureProfitPer.toFixed(2));
            txtUsdPriceEl.val((price * cny2usd).toFixed(2));
        };
        var showCacheData = function() {
            numberEls.each(function() {
                this.value = localStorage[this.className] || this.value || '';
            });
        };
        var setCacheData = function() {
            numberEls.each(function() {
                localStorage[this.className] = this.value || '';
            });
        };

        showCacheData();
        moneyExchange();
        [bidEl, profitPerEl, brokeragePerEl].forEach(function(el) {
            el.on('input', function() {
                moneyExchange();
                setCacheData();
            });
        });
        btnChangePriceEl.click(function() {
            moneyExchange('$price');
            setCacheData();
        });
    });
</script>