<!-- 利润计算器 -->
<div class="profit-calculator-list calculator-list">
    <div>
        <a class="btn btn-confirm btn-primary btn-sm">确定</a>
        <a class="btn btn-back btn-default btn-sm">返回</a>
    </div><br>
    <textarea class="form-control" rows="20"></textarea>
    <table class="table table-condensed"></table>
</div>
<script>
    $(function() {
        var key = 'profit-calculator-list';
        var usd2cny = 6.946;
        var cny2usd = 0.1440;
        var container = $('.' + key);
        var textareaEl = container.find('>textarea');
        var tableEl = container.find('>table');
        var btnConfirmEl = container.find('.btn-confirm');
        var btnBackEl = container.find('.btn-back');
        var itemTpl = _.template(`
            <tr>
                <{tagName}>{index}</{tagName}>
                <{tagName}>{bid}</{tagName}>
                <{tagName}>{price}</{tagName}>
                <{tagName}>{discountRate}</{tagName}>
                <{tagName}>{result1}</{tagName}>
                <{tagName}>{result2}</{tagName}>
                <{tagName}>{result3}</{tagName}>
            </tr>
        `);
        var parseHead = function(item) {
            tableEl.append(itemTpl(_.extend({
                tagName: 'th',
                result1: '折后利润',
                result2: '净利润',
                result3: '折后售价'
            }, item)));
        };
        var parseItem = function(item) {
            var bid = item.bid;
            var price = item.price * usd2cny;
            var discountRate = item.discountRate * 0.01;
            var discountRatePrice = discountRate * price;
            var discountPrice = price - discountRatePrice;
            var platformPrice = (5 * 0.01) * discountPrice;
            var discountProfitPrice = price - bid - discountRatePrice;
            var discountProfitPer = Math.ceil((discountProfitPrice / price) * 100);
            var pureProfitPrice = discountProfitPrice - platformPrice;
            var pureProfitPricePer = Math.ceil((pureProfitPrice / price) * 100);
            var result1 = `
                ${Math.ceil(discountProfitPer||0)}% | $${((discountProfitPrice*cny2usd)||0).toFixed(2)} | ¥${(discountProfitPrice||0).toFixed(2)}
            `;
            var result2 = `
                ${Math.ceil(pureProfitPricePer||0)}% | $${((pureProfitPrice*cny2usd)||0).toFixed(2)||0} | ¥${(pureProfitPrice||0).toFixed(2)}
            `;
            var result3 = `$${((discountPrice*cny2usd)||0).toFixed(2)} | ¥${(discountPrice||0).toFixed(2)}`;

            if (!price || !bid) {
                result1 = '-';
                result2 = '-';
                result3 = '-';
            }

            tableEl.append(itemTpl(_.extend({
                tagName: 'td',
                result1: result1,
                result2: result2,
                result3: result3
            }, item)));
        };
        var parseData = function() {
            var dataStr = textareaEl.val();
            var rowArr = dataStr.split('\n');

            rowArr.forEach(function(str, index) {
                var colArr = str.split('\t');
                var item = {
                    index: index + 1,
                    bid: colArr[0],
                    price: colArr[1],
                    discountRate: colArr[2]
                };

                !index ? parseHead(item) : parseItem(item);
            });
        };

        btnConfirmEl.click(function() {
            btnConfirmEl.hide();
            btnBackEl.show();
            textareaEl.hide();
            tableEl.empty().show();
            parseData(textareaEl.val().trim());
        });

        btnBackEl.click(function() {
            btnConfirmEl.show();
            btnBackEl.hide();
            textareaEl.show();
            tableEl.hide();
        });

        textareaEl.val(localStorage[key + '_content'] || '');
        textareaEl.change(function() {
            localStorage[key + '_content'] = textareaEl.val().trim();
        });

        btnBackEl.click();
    });
</script>