<!-- 利润计算器 -->
<div class="profit-calculator-list calculator-list">
    <div class="clearfix">
        <div class="pull-left">
            <a class="btn btn-back btn-default btn-sm">返回</a>
            <div class="filter-box form-inline">
                <div class="form-group">
                    <label>增加折扣(%)</label>
                    <input id="txtAddDiscountRate" type="number" class="form-control input-sm" style="width: 60px" />
                </div>
                <a class="btn btn-confirm btn-primary btn-sm">确定</a>
            </div>
        </div>
        <div class="pull-right">
            <p class="text-muted" style="font-size: 12px;">
                使用方法： 1. 复制文档中的列: 进价+邮(¥)、原售价($)、折扣(%)； 2. 粘贴到文本框； 3. 点击确定。
            </p>
        </div>
    </div><br>
    <textarea class="form-control" rows="20"></textarea>
    <table class="table table-condensed"></table>
</div>
<script>
    $(function() {
        var key = 'profit-calculator-list';
        var usd2cny = 6.9188;
        var cny2usd = 0.1445;
        var container = $('.' + key);
        var textareaEl = container.find('>textarea');
        var filterBoxEl = container.find('.filter-box');
        var tableEl = container.find('>table');
        var txtAddDiscountRate = filterBoxEl.find('#txtAddDiscountRate');
        var btnBackEl = container.find('.btn-back');
        var btnConfirmEl = container.find('.btn-confirm');
        var itemTpl = _.template(`
            <tr>
                <{tagName}>{index}</{tagName}>
                <{tagName}>{bid}</{tagName}>
                <{tagName}>{price}</{tagName}>
                <{tagName}>{discountRateStr}</{tagName}>
                <{tagName}>{result1}</{tagName}>
                <{tagName}>{result2}</{tagName}>
                <{tagName}>{result3}</{tagName}>
            </tr>
        `);
        var parseHead = function(item) {
            tableEl.append(itemTpl(_.extend({
                tagName: 'th',
                result1: '折后利润',
                result2: '净利润',
                result3: '折后售价'
            }, item)));
        };
        var parseItem = function(item) {
            var bid = item.bid;
            var price = item.price * usd2cny;
            var discountRate = item.discountRate * 0.01;
            var discountRatePrice = discountRate * price;
            var discountPrice = price - discountRatePrice;
            var platformPrice = (5 * 0.01) * discountPrice;
            var discountProfitPrice = price - bid - discountRatePrice;
            var discountProfitPer = Math.ceil((discountProfitPrice / price) * 100);
            var pureProfitPrice = discountProfitPrice - platformPrice;
            var pureProfitPricePer = Math.ceil((pureProfitPrice / price) * 100);
            var result1 = `
                ${Math.ceil(discountProfitPer||0)}% | $${((discountProfitPrice*cny2usd)||0).toFixed(2)} | ¥${(discountProfitPrice||0).toFixed(2)}
            `;
            var result2 = `
                ${Math.ceil(pureProfitPricePer||0)}% | $${((pureProfitPrice*cny2usd)||0).toFixed(2)||0} | ¥${(pureProfitPrice||0).toFixed(2)}
            `;
            var result3 = `$${((discountPrice*cny2usd)||0).toFixed(2)} | ¥${(discountPrice||0).toFixed(2)}`;

            if (!price || !bid) {
                result1 = '-';
                result2 = '-';
                result3 = '-';
            }

            tableEl.append(itemTpl(_.extend({
                tagName: 'td',
                result1: result1,
                result2: result2,
                result3: result3
            }, item)));
        };
        var parseData = function() {
            var dataStr = textareaEl.val();
            var rowArr = dataStr.split('\n');

            rowArr.forEach(function(str, index) {
                var colArr = str.split('\t');
                var discountRate = colArr[2];
                var addDiscountPrice = parseFloat(txtAddDiscountRate.val()) || 0;
                var discountRateStr = discountRate;
                var item;

                if (discountRate > 0 && addDiscountPrice) {
                    discountRateStr += (addDiscountPrice > 0 ? '+' : '') + addDiscountPrice;
                    discountRate = parseFloat(discountRate) + addDiscountPrice;
                }
                item = {
                    index: index + 1,
                    bid: colArr[0],
                    price: colArr[1],
                    discountRate: discountRate,
                    discountRateStr: discountRateStr
                };

                !index ? parseHead(item) : parseItem(item);
            });
        };

        btnConfirmEl.click(function() {
            filterBoxEl.hide();
            btnBackEl.show();
            textareaEl.hide();
            tableEl.empty().show();
            parseData(textareaEl.val().trim());
        });

        btnBackEl.click(function() {
            filterBoxEl.show();
            btnBackEl.hide();
            textareaEl.show();
            tableEl.hide();
        });

        textareaEl.val(localStorage[key + '_content'] || '');
        textareaEl.change(function() {
            localStorage[key + '_content'] = textareaEl.val().trim();
        });

        btnBackEl.click();
    });
</script>