/** 主要颜色 */

$white: #fff;
$green: #00B38B;
$blue: #1194F6;
$grey: #ddd;
$divide: #E6E6E6;

/** 文本颜色 */

$text-muted: #999;
$text-link: #1194F6;
$text-xxs: #DDD;

/** 按钮 */

$btn-link: $text-link;
$btn-inverse: #BDCAD0;

/** 间距 */

$mgt-lg: 30px;
$mgt-md: 20px;
$mgt-sm: 15px;
$mgt-xs: 10px;
$mgt-xxs: 5px;
$mgl-lg: 30px;
$mgl-md: 20px;
$mgl-sm: 15px;
$mgl-xs: 10px;
$mgl-xxs: 5px;