<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.1.0/viewer.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet">
    <link href="css/style.css?{{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet"> 
    {% for src in page.links %}
    <link href="{{src}}" rel="stylesheet"> 
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script>
        _.templateSettings = {
            interpolate: /\{(.+?)\}/g
        };
    </script>
    {% include baidu-tongji.html %}
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="favicon.ico" class="logo" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!-- <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">工具
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for post in site.posts %}
                            <li>
                                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul> -->
                <!-- <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            常用链接<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://docs.qq.com/sheet/BmAfQN2sop2v1PD3Vf3ahkL33GDWKK3baohy05BGA62tyoU03Cpduu0IAjCH0EBPWM0noU5K3?opendocxfrom=admin" target="_blank">【文档】商品型号</a></li>
                            <li><a href="http://merchant.fy.intmall.net/main/panel" target="_blank">【管理】丰卖网</a></li>
                            <li><a href="http://en.intmall.com/category/41.html" target="_blank">【耳机】丰卖网</a></li>
                            <li><a href="https://www.aliexpress.com/category/200010206/smart-watches.html?spm=2114.search0103.0.0.5eba3e706EzqQ2&isrefine=y&site=glo&g=y&tag=" target="_blank">【智能手表】速卖通</a></li>
                            <li><a href="https://www.aliexpress.com/category/63705/earphones-headphones.html?spm=2114.search0103.1.19.960526c3aee6Mk&site=glo" target="_blank">【耳机】速卖通</a></li>
                            <li><a href="https://www.amazon.com/s/ref=nb_sb_ss_ime_c_2_11?url=search-alias%3Delectronics&field-keywords=smart+watch&sprefix=smart+watch%2Caps%2C111&crid=2TR46ERJH0UHF" target="_blank">【智能手表】亚马逊</a></li>
                            <li><a href="https://www.amazon.com/Headphones-Accessories-Supplies/b/ref=nav_shopall_headphones?ie=UTF8&node=172541" target="_blank">【耳机】亚马逊</a></li>
                        </ul>
                    </li>
                </ul> -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            工具<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="profit-calculator-list.html">利润批量计算</a></li>
                            <li><a href="editor.html">内容编辑器</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.1.0/viewer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/js/froala_editor.pkgd.min.js"></script>

    <div class="container theme-showcase" role="main">
        {{ content }}
    </div>
    <!-- /container -->
    {% for src in page.scripts %}
    <script src="{{src}}"></script>
    {% endfor %}
</body>

</html>